<!-- <div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let event of events">
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.location.description }}</td>
                <td>
                    <button (click)="deleteEvent(event.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
 -->