{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>
    .dashboard-heading {
        text-align: center;
        margin-bottom: 20px;
    }

    .event-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
        gap: 30px;
        list-style-type: none;
        padding: 0;
    }

    .event-item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 30px;
        transition: transform 0.3s;
    }

    .event-title {
        margin: 0;
        color: #007bff;
        font-size: 1.5em;
    }

    .event-info {
        color: #333;
        margin: 10px 0px 15px 0px;
    }

    .event-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 200px;
    }
    .dropdown-toggle {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        font-size: 24px;
        color: #333;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .event-item:hover .dropdown-content {
        display: block;
    }

    .btn {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .btn:hover {
        background-color: #0056b3;
    }

    .btnReport {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .btnReport:hover {
        background-color: red;
    }

    .report-form {
        display: none;
        position: absolute;
        top: 35px;
        right: 0;
        padding: 10px;
        background-color: whitesmoke;
        margin-top: 10px;
    } 
    .event-item:hover .report-form {
        display: block;
    }


    .filter-form {
        margin-bottom: 20px;
    }

    .filter-form input[type="text"],
    .filter-form select {
        flex: 1;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .filter-form label {
        flex-basis: 120px; /* Adjust as needed */
        margin-right: 10px;
        text-align: right;
    }

    .filter-form button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;
    }

    .filter-form button:hover {
        background-color: #0056b3;
    }
</style>
<script>
function toggleReportButton(element) {
    var reportForm = element.nextElementSibling;
    if (reportForm.style.display === "none") {
        reportForm.style.display = "block";
    } else {
        reportForm.style.display = "none";
    }
}
</script>
<h1 class="dashboard-heading">Welcome, {{ request.user.username }}</h1>
<form method="get" class="filter-form">
    <label for="title">Title:</label>
    {{ myFilter.form.title }}
    
    <label for="location">Location:</label>
    {{ myFilter.form.location }}
    
    <label for="type">Type:</label>
    {{ myFilter.form.type }}
    
    <label for="tag">Tag:</label>
    {{ myFilter.form.tag }}
    
    <label for="start_date">Start Date:</label>
    {{ myFilter.form.start_date }}
    
    <button type="submit">Search</button>
</form>
<h1 class="dashboard-heading">Event List</h1>
<div class="event-list">
    {% for event in events %}
    <div class="event-item">
        <h2 class="event-title">{{ event.title }}</h2>
        <div class="dropdown-toggle" onclick="toggleReportButton(this)">&#8942;</div>
        <form method="post" style="display: none;" class="report-form">
            {% csrf_token %}
            <input type="hidden" user="{{ user }}">
            <a class="btnReport" href="{% url 'report_event' event.id %}">Report</a>
        </form>
        {% with event.file_links.all|first as file_link %}
        {% if file_link %}
        <img src="{{ file_link.file_link.url }}" class="event-image" alt="Event image">
        {% endif %}
        {% endwith %}
        <p class="event-info">Description: {{ event.description }}</p>
        <p class="event-info">Location: {{ event.location.description }}</p>
        <p class="event-info">Type: {{ event.type.name }}</p>
        <p class="event-info">Tag: {{ event.tag.description }}</p>
        <p class="event-info">Start Date: {{ event.start_date|date:"F j, Y, g:i a" }}</p>
        <p class="event-info">End Date: {{ event.end_date|date:"F j, Y, g:i a" }}</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" user="{{ user }}">
            <a class="btn" href="{% url 'like_event' event.id %}"> {{event.likes_count}} Likes</a>
        </form>
    </div>
    {% empty %}
    <p>No events available.</p>
    {% endfor %}
</div>

{% endblock %}
