<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand" style="margin-left: 20px">MJS</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="event" class="nav-link">Events</a>
        </li>
        <li class="nav-item">
          <a routerLink="location" class="nav-link">Location</a>
        </li>
        <li class="nav-item">
          <a routerLink="eventType" class="nav-link">Event Type</a>
        </li>
        <li class="nav-item">
          <a routerLink="eventTag" class="nav-link">Event Tag</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>