<p>location-show works!</p>

<button (click)="addClick()">Add Location</button>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let location of LocationList">
      <td>{{ location.id }}</td>
      <td>{{ location.description }}</td>
      <td>
        <button (click)="editClick(location)">Edit</button>
        <button (click)="deleteClick(location)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="ActivateAddEditComp">
  <h2>{{ modalTitle }}</h2>
  <div>
    <label>ID: </label>
    <input [(ngModel)]="location.id" disabled />
  </div>
  <div>
    <label>Name: </label>
    <input [(ngModel)]="location.description" />
  </div>
  <button (click)="saveClick()">Save</button>
  <button (click)="closeClick()">Close</button>
</div>