<!-- app.component.html -->
<p>Event Type List</p>

<button class="btn btn-primary" (click)="addClick()">Add Event Type</button>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eventType of EventTypeList">
      <td>{{ eventType.id }}</td>
      <td>{{ eventType.name }}</td>
      <td>
        <button class="btn btn-primary" (click)="editClick(eventType)">Edit</button>
        <button class="btn btn-danger" (click)="deleteClick(eventType)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="ActivateAddEditComp" class="wrapper-modal">
  <div *ngIf="ActivateAddEditComp" class="modals">
    <h2>{{ modalTitle }}</h2>
    <div>
      <label>ID: </label>
      <input [(ngModel)]="eventType.id" disabled />
    </div>
    <div>
      <label>Name: </label>
      <input [(ngModel)]="eventType.name" />
    </div>
    <button class="btn btn-primary" (click)="saveClick()">Save</button>
    <button class="btn btn-secondary" (click)="closeClick()">Close</button>
  </div>
</div>
